/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 80px; /* Adicionando padding para compensar a altura do cabeçalho fixo */
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #222;
    color: #ddd;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Remover a animação de digitação */
header h1 {
    font-size: 2.5em;
    white-space: nowrap;
    width: fit-content;
}

/* Títulos claros no modo escuro */
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: #fff;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff8c00;
}

/* Botão Dark Mode */
.dark-mode-toggle {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.5s ease;
}

.dark-mode-toggle:hover {
    background: #ff8c00;
}

/* Menu Responsivo */
.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

nav ul.show {
    display: flex;
}

/* Estilos das seções */
.section {
    padding: 60px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    width: 100%;
}

/* Estilizando seção Sobre Mim */
.sobre-texto {
    text-align: justify;
}

/* Projetos */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.project {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.527);
    width: 45%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Estilo para modo escuro */
body.dark-mode .project {
    background-color: #444;
    color: #fff;
}

body.dark-mode .project:hover {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.74);
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.project:hover::before {
    content: 'Visualizar';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Redes sociais */
.social-links a {
    color: #333;
    text-decoration: none;
    font-size: 1.0em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

/* Links das redes sociais no modo escuro */
body.dark-mode .social-links a {
    color: #fff !important;
}


.social-links a:hover {
    color: #ff8c00;
}

/* Botão de Contato Animado */
#contato ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

#contato ul li a:hover {
    color: #ff8c00;
    transform: scale(1.1);
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer:hover {
    background-color: #444;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        width: 200px;
        border-radius: 5px;
        text-align: right;
    }

    nav ul.show {
        display: flex;
    }

    .project {
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }
}
